<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <title>Home Page</title>
</head>
<body>
    <h2>Bruno Mars discography</h2>
    <p>American singer-songwriter Bruno Mars has released three studio albums, one collaborative studio album, one EP, 32 singles (seven as a featured artist) and four promotional singles. 
    With estimated sales of over 26 million albums and 200 million singles worldwide, Mars is one of the best-selling artists of all time.
    Six of his singles are among the best-selling singles of all time: in order of release date, "Just the Way You Are", "Grenade", "The Lazy Song", "When I Was Your Man", "Uptown Funk" and "That's What I Like". 
    According to the Recording Industry Association of America (RIAA), he has sold 91.5 million copies in the United States.[3] His first two albums have sold 5.04 million copies in the US alone.
    In 2012, Mars was named 2011's best selling music artist worldwide. In 2022, he became the first artist to receive six diamond certified songs in the United States.
    <br> 
    <br>   
    After he signed with Atlantic Records in 2009, he composed (as part of production group the Smeezingtons) and sang guest vocals on the debut singles of American rappers B.o.B ("Nothin' on You") (2009) and Travie McCoy ("Billionaire") (2010).
    Both singles topped the Netherlands' singles chart, while the former also peaked at number one on the US Billboard Hot 100 and in the United Kingdom. That year Mars released his debut album Doo-Wops & Hooligans.
    Its singles "Just the Way You Are" and "Grenade" topped the charts in the US, Australia, Canada, New Zealand and the UK, and have been certified 13 times platinum and diamond, respectively, by the RIAA. 
    They were both certified seven and six times platinum, respectively, by the Australian Recording Industry Association (ARIA), with the former being certified diamond and the latter six times platinum by Music Canada (MC). "The Lazy Song" topped the charts in Denmark and the UK and was certified seven times platinum by the RIAA. 
    Doo-Wops & Hooligans topped the charts in Canada, Germany, Ireland, Switzerland, and the UK.
    <br>
    <br>
    In 2011, Mars recorded "It Will Rain" for the soundtrack of The Twilight Saga: Breaking Dawn-Part 1 and appeared on a number of collaborative singles, including "Young, Wild & Free" by Snoop Dogg and Wiz Khalifa, which was certified six times platinum by the RIAA.
    Mars's second album, Unorthodox Jukebox (2012), reached number one in the US, Australia, Canada, Switzerland, and the UK. The album's first two singles, "Locked Out of Heaven", certified diamond by the RIAA and seven times by ARIA, and "When I Was Your Man", 
    certified eleven times platinum by the RIAA, six times platinum by ARIA and nine times platinum by MC, topped the Billboard Hot 100. In 2014, Mars provided vocals on Mark Ronson's "Uptown Funk", which topped the US, Australia, Canada, New Zealand and UK music charts.
    It was certified 11 times platinum by the RIAA, 22 times platinum by the ARIA and diamond by MC.
    <br>
    <br>
    His third studio album, 24K Magic (2016) peaked within the top five in the US, Australia, Canada, New Zealand, and the UK. It spawned the internationally successful singles "24K Magic", "That's What I Like" and "Finesse", with "24K Magic" reaching number-one in New Zealand and being certified six times platinum by MC. 
    "That's What I Like" topped the charts in the United States and was certified diamond by the RIAA and seven times platinum by MC. In 2021, Mars and Anderson .Paak, as Silk Sonic, released the collaborative album An Evening with Silk Sonic. The album reached the top five in the US, Australia, Canada, Denmark and New Zealand.
    Two of its singles, "Leave the Door Open" and "Smokin out the Window", both reached the top ten on several charts with the former peaking at number one in the United States and New Zealand.</p>

        <img src="/images/Singing.jpg" alt="singing">
        <img src="/images/Bruno.jpg" alt="Bruno Mars">

        <button><a href="/home-page">Back to Home</a></button>
        <button><a href="/works-page">Albuns</a></button>
<script src="../app.js"></script>
</body>
</html>