<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Home Page</title>
</head>
<body>
    <div id="works-container">
        <h2>Albums</h2>

        <div class="albums-container">
            <img class="albums-img" src="/images/Doo-Wops-&-Hooligans.png" alt="Doo-Wops & Hooligans">
            <p>Doo-Wops & Hooligans 
              <br>  
                Released: October 4, 2010
            </p>
        </div>

        <div class="albums-container">
            <img class="albums-img" src="/images/Unorthodox-Jukebox.png" alt="Unorthodox Jukebox">
            <p>Unorthodox Jukebox
              <br>  
                Released: December 7, 2012
            </p>
        </div>

        <div class="albums-container">
            <img class="albums-img" src="/images/24K-Magic.png" alt="24K Magic">
            <p>24K Magic
              <br>  
                Released: November 18, 2016
            </p>
        </div>

        <div class="albums-container">
            <img class="albums-img" src="/images/An-Evening-with-Silk-Sonic.png" alt="An Evening with Silk Sonic">
            <p>An Evening with Silk Sonic
              <br>  
              Released: November 12, 2021
            </p>
        </div>





    
    <div class="works-button">
         <button><a href="/home-page">Back to Home</a></button>
         <button><a href="/about-page">Bruno Mars Discography</a></button>
    </div>
</div>
<script src="../app.js"></script>
</body>
</html>